# Keil
/MDK-ARM/RM_Frame_C
/MDK-ARM/DebugConfig
MDK-ARM/JLink*
MDK-ARM/*.scvd
RM_Frame_C.uvguix.*

# CLion
/cmake-build*
/.idea

# VSCode
/.vscode
/build

# Others
*.crf

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
