# UserDefine
/MDK-ARM/RM_Frame_C
/MDK-ARM/DebugConfig
/cmake-build-debug
/.idea
RM_Frame_C.uvguix.*
MDK-ARM/JLinkLog.txt
*.crf

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
